.carousel-inner img {
  width: 100%;
  height: auto;
  max-width: 600px; /*ajuste a altura maxima conforme necessario */
  object-fit: cover; /* ajuste a imagem para abrir o espaço */
}
.carousel {
  max-width: 800px; /*ajuste a largura máxima conforme o necessario */
  margin: auto; /* centraliza o caroussel */
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente para melhor legitibilidade */
  padding: 10px; 
}
.spacer {
  margin-top: 30px; /* espaço adicional entre o carrossel eo fornulario */
}
.titulo {
  display: block;
  margin-bottom: 10px;
}
.contato {
  padding: 20px;
}
.carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 20px;
        padding: 10px;
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        z-index: 1;
}